:root {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    line-height: 3rem;
}

body {
    display: flex;
    justify-content: center;
    background-color: #ecf2f8;
    padding-top: 100px;
}

p {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 2rem;
    margin-bottom: 40px;
}

figure {
    border-radius: 40px;
    box-shadow: 0.5rem 0.5rem 0px 0px rgba(192, 192, 192, 0.3);
    width: 300px;
}

h1 {
    margin-bottom: 40px;
}

figure > img {
    border-radius: 40px 40px 0 0;
    width: 300px;
}

figcaption {
    background-color: white;
    padding: 40px;
    border-radius: 0 0 40px 40px;
    width: 300px;
}

figcaption ul {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 80px;
    top: 5px;
}

.name {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.auteur {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    position: relative;
}
.auteur img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.auteur button {
    width: 60px;
    height: 60px;
    background-color: #ecf2f8;
    border: white solid;
    border-radius: 50%;
}

.auteur i {
    font-size: 2rem;
    color: grey;
}

footer {
    background-color: #ecf2f8;
    display: none;
}
