:root {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    line-height: 3rem;
    margin-bottom: 40px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ecf2f8;
    padding: 100px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

footer p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 2rem;
    padding-bottom: 40px;
}

figcaption > p {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 2rem;
    margin-bottom: 40px;
}

.la {
    border-radius: 40px;
    box-shadow: 0.5rem 0.5rem 0px 0px rgba(192, 192, 192, 0.3);
    margin-bottom: 20px;
    height: 100%;
    min-width: 350px;
    max-width: 450px;
}

figure > img {
    border-radius: 40px 40px 0 0;
}

figcaption {
    background-color: white;
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

figcaption ul {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 65px;
    top: 5px;
}

.name {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.auteur {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    position: relative;
}
.auteur img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.auteur button {
    width: 40px;
    height: 40px;
    background-color: #ecf2f8;
    border: white solid;
    border-radius: 50%;
}

.auteur i {
    font-size: 2rem;
    color: grey;
}

footer {
    font-size: 0.9rem;
    text-align: center;
    background-color: #ecf2f8;
}
